body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Poppins",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(242, 245, 249);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
